.container-section-portraitImg {
    --height-portrait-img: 100svh;
    position: relative;
    top: 0;
    left: 0;

    &.isContactPage {
        --height-portrait-img: 100vh;
    }

    .container-outer-image {
        position: relative;
        width: 100vw;
        height: var(--height-portrait-img);
        user-select: none;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        * {
            pointer-events: none;
        }

        .container-inner-image {
            object-fit: cover;
        }
    }

    .container-overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: var(--height-portrait-img);
        background: var(--strongwood-bg-overlay);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-overlay-titles {
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: var(--height-portrait-img);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: var(--strongwood-white);
        padding: 0 2rem;

        @media (max-width:768px) {
            padding: 0;
        }

        &.action-titles {
            left: 0;
            transition: left 0.65s ease-in-out;
        }

        .wrapper-overlay {
            width: 100%;
            text-transform: uppercase;
            padding-bottom: 10rem;
            font-weight: 700;

            @media (max-width:768px) {
                width: var(--strongwood-max-width);
                max-width: var(--strongwood-max-width);
            }

            .container-titles {
                display: flex;
                align-items: flex-end;
                gap: 1rem;
                height: 3rem;

                @media (max-width:992px) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: revert;
                    height: revert;
                }

                .title-title {
                    font-size: 44px;
                    height: 100%;

                    @media (max-width:992px) {
                        font-size: 30px;
                        height: revert;
                    }

                    @media (max-width:300px) {
                        font-size: 24px;
                    }
                }

                .wrapper-column {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 0.25rem;
                    font-size: 14px;

                    @media (max-width:992px) {
                        display: none;
                    }
                }

                .title-mobile {
                    display: none;
                    font-size: 14px;
                    flex-wrap: wrap;

                    @media (max-width:992px) {
                        max-width: 10rem;
                        display: flex;
                    }

                    @media (max-width:300px) {
                        max-width: 8rem;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .overlay-title-back {
        position: absolute;
        bottom: 1rem;
        right: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @media (max-width:768px) {
            justify-content: center;
        }

        .title-back {
            width: 100vw;
            padding: 0 2rem;
            display: flex;
            justify-content: flex-end;

            @media (max-width:768px) {
                width: var(--strongwood-max-width);
                padding: 0;
            }

            .title {
                color: var(--strongwood-white);
                font-size: 16px;

                @media (max-width:442px) {
                    font-size: 14px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}