.container-section-telon {
    background: var(--strongwood-black);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    color: var(--strongwood-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -14rem;

    &.telon-active {
        top: -100vh;
        transition: top 0.65s ease-in-out;
    }

    &.disable-telon {
        display: none;
    }

    .container-rectangle-action {
        position: relative;
        padding: 0.5rem 0;
        overflow: hidden;
        width: 18rem;
        height: 5.75rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:992px) {
            width: 17rem;
        }

        @media (max-width:442px) {
            height: 4.75rem;
            width: 13rem;
        }

        .title-telon {
            font-weight: 700;
            font-size: 44px;
            text-align: center;

            @media (max-width:992px) {
                font-size: 40px;
            }

            @media (max-width:442px) {
                font-size: 30px;
            }
        }

        .rectangle {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--strongwood-white);

            &.rectangle-active {
                left: 18rem;
                transition: left 0.65s ease-in-out;

                @media (max-width:992px) {
                    left: 17rem;
                }

                @media (max-width:442px) {
                    left: 13rem;
                }
            }
        }
    }
}