.container-section-twoImages {
    --twoImages-maxHeight: 40rem;

    @media (max-width:1400px) {
        --twoImages-maxHeight: 35rem;
    }

    @media (max-width:1200px) {
        --twoImages-maxHeight: 30rem;
    }

    @media (max-width:992px) {
        --twoImages-maxHeight: 25rem;
    }

    @media (max-width:768px) {
        --twoImages-maxHeight: revert;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }

    width: var(--strongwood-max-width);
    max-width: var(--strongwood-max-width);
    display: flex;
    justify-content: space-between;
    height: var(--twoImages-maxHeight);

    &.reverse {
        flex-direction: row-reverse;

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    &.isColumnReverse {
        @media (max-width:768px) {
            flex-direction: column-reverse;
        }
    }

    .container-column {
        --twoImages-width: 36.5rem;
        --first-image-height: 27.5rem;
        --second-image-height: 40rem;

        @media (max-width:1400px) {
            --twoImages-width: 31rem;
            --first-image-height: 25rem;
            --second-image-height: 35rem;
        }

        @media (max-width:1200px) {
            --twoImages-width: 25.5rem;
            --first-image-height: 22.5rem;
            --second-image-height: 30rem;
        }

        @media (max-width:992px) {
            --twoImages-width: 20rem;
            --first-image-height: 17.5rem;
            --second-image-height: 25rem;
        }

        @media (max-width:768px) {
            --twoImages-width: 90vw;
            --first-image-height: 32rem;
            --second-image-height: 32rem;
        }

        height: 100%;
        display: flex;
        align-items: center;

        &.second {
            flex-direction: row;
            align-items: flex-end;
        }

        .container-outer-info {
            height: 100%;
            width: var(--twoImages-width);
            align-items: flex-start;
        }

        .container-outer-image {
            position: relative;
            top: 0;
            left: 0;
            width: var(--twoImages-width);
            height: var(--first-image-height);
            user-select: none;
            overflow: hidden;
            background: var(--strongwood-bg-overlay);
            display: flex;
            justify-content: center;
            align-items: center;

            * {
                pointer-events: none;
            }

            &.second {
                height: var(--second-image-height);
            }

            .container-inner-image {
                object-fit: cover;
            }
        }
    }
}