.container-nav-title {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    min-height: 5.5rem;

    @media (max-width:768px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 17rem;
        gap: 2rem;
    }

    .nav-title {
        font-size: 20px;
        color: var(--strongwood-gray);

        &:hover {
            text-decoration: underline;
            color: var(--strongwood-black);
        }

        &.active {
            color: var(--strongwood-black);
            font-weight: 700;
            text-decoration: underline;
        }
    }
}