.container-text {
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        color: var(--primary-gray);
        cursor: pointer;
        height: 1rem;
        transition: var(--transition);
        font-size: var(--font-16);

        @media (max-width:442px) {
            font-size: var(--font-14);
        }

        &:hover {
            color: var(--primary-black);
            border-bottom: 1px solid var(--primary-black);
            transition: var(--transition);
        }
    }
}