.container-section-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12rem;
    width: 100vw;
    padding-bottom: 12rem;

    @media (max-width:1200px) {
        gap: 8rem;
        padding-bottom: 8rem;
    }

    @media (max-width:768px) {
        gap: 3.75rem;
        padding-bottom: 3.75rem;
    }
}