:root {
    --strongwood-max-width: 1300px;

    --strongwood-calc-rem: calc(14px + (20.56 - 14) * ((100vw - 280px) / (3840 - 280)));
    --strongwood-font-fallback: sans-serif, 'Source Code Pro', 'Fira Mono', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --strongwood-white: #f7f4ed;
    --strongwood-black: #000000;
    --strongwood-gray: #4F4F4F;
    --strongwood-light-gray: #a1a1ab;
    --strongwood-border-color: #303030;
    --strongwood-border-color-hover: #1e1e1e;

    --strongwood-transition: 0.3s ease-in-out;

    --strongwood-bg-overlay: rgba(0, 0, 0, 0.4);
    --strongwood-border: rgba(0, 0, 0, 0.2);
    --strongwood-hover: rgba(0, 0, 0, 0.1);


    @media (max-width:1400px) {
        --strongwood-max-width: 1100px;
    }

    @media (max-width:1200px) {
        --strongwood-max-width: 900px;
    }

    @media (max-width:992px) {
        --strongwood-max-width: 700px;
    }

    @media (max-width:768px) {
        --strongwood-max-width: 90vw;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--strongwood-font), var(--strongwood-font-fallback);
    font-size: var(--strongwood-calc-rem);
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
    color: var(--strongwood-black);
    background: var(--strongwood-white);
    min-height: 100vh;
    //altura footer
    padding-bottom: 15rem;
}

body::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button,
textarea {
    font-family: var(--strongwood-font), var(--strongwood-font-fallback);
}

.no-scroll {
    //altura + footer
    max-height: calc(100vh + 15rem);
}

.loader{
    color: var(--strongwood-white);
    font-weight: 500;
    font-size: 14px;
}