.container-project-card {
    --height-card-img: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
    position: relative;

    @media (max-width:1400px) {
        --height-card-img: 19.5rem;
    }

    @media (max-width:1200px) {
        --height-card-img: 17rem;
    }

    @media (max-width:992px) {
        --height-card-img: 14.5rem;
    }

    @media (max-width:768px) {
        --height-card-img: 18em;
    }

    @media (max-width:442px) {
        --height-card-img: 16rem;
    }

    .container-outer-image {
        position: relative;
        width: 100%;
        height: var(--height-card-img);
        min-height: var(--height-card-img);
        user-select: none;
        overflow: hidden;
        background: var(--strongwood-bg-overlay);
        display: flex;
        justify-content: center;
        align-items: center;

        * {
            pointer-events: none;
        }

        .container-inner-image {
            object-fit: cover;
        }
    }

    .container-description-card {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .title-description {
            color: var(--strongwood-black);
            font-size: 16px;
        }

        .subtitle-description {
            color: var(--strongwood-gray);
            font-size: 14px;
        }
    }

    &:hover {
        .container-overlay-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: var(--height-card-img);
            background: var(--strongwood-hover);
            opacity: 1;
        }

        .container-description-card .title-description {
            text-decoration: underline;
        }
    }
}