.container-slider {
    position: relative !important;
    width: 80%;
    padding: 0 2rem;

    @media (max-width:1024px) {
        width: 100%;
    }

    .img-container {
        width: 125px;
        max-width: 125px;
        height: 125px;
        max-height: 125px;
        padding: 0px;
        margin: 0px;
        // pointer-events: auto;
        cursor: pointer;

        @media (max-width:550px) {
            width: 100px;
            max-width: 100px;
            height: 100px;
            max-height: 100px;
        }

        @media (max-width:400px) {
            width: 125px;
            max-width: 125px;
            height: 125px;
            max-height: 125px;
        }
    }
}

.container-left-arrow {
    position: absolute;
    // height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: -5rem;
    pointer-events: none;

    .left-arrow {
        // position: absolute;
        // left: 45%;
        // top: 100%;
        display: block;
        width: 48px;
        height: 48px;
        margin-right: 5rem;
        pointer-events: auto;
    }
}

.container-right-arrow {
    position: absolute;
    // height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: -5rem;
    pointer-events: none;

    .right-arrow {
        // position: absolute;
        // left: 55%;
        // top: 100%;
        display: block;
        width: 48px;
        height: 48px;
        margin-left: 5rem;
        pointer-events: auto;
    }
}

.container-icon {
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--strongwood-light-gray);
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    opacity: 0.8;

    .icon-svg {
        fill: var(--strongwood-white);
    }

    &:hover {
        opacity: 1;
    }
}