.layout-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 12rem;
    z-index: 2;
    background-color: transparent;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--strongwood-transition);

    &.active {
        opacity: 1;
        transition: opacity var(--strongwood-transition);
    }

    @media (max-width:768px) {
        padding-bottom: 8rem;
    }

    .container-icon {
        pointer-events: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--strongwood-light-gray);
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        opacity: 0.8;

        .icon-svg {
            fill: var(--strongwood-white);
        }

        &:hover {
            opacity: 1;
        }
    }
}