.container-thanks-page {
    padding: 0 2rem;
    padding-top: 8rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 4rem;

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title {
            font-size: 34px;
            font-weight: 500;
            font-family: var(--strongwood-font-lato);

            @media (max-width:500px) {
                font-size: 22px;
            }
        }
    }

    .go-home {
        font-size: 1.25rem;
        font-weight: 300;
        color: #767676;
        font-family: var(--strongwood-font-montserrat);
        text-decoration: underline;
        text-underline-offset: 4px;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}