.container-icon-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    &.isDesktop {
        @media (max-width:442px) {
            display: none;
        }
    }

    &.isMobile {
        display: none;

        @media (max-width:442px) {
            display: flex;
        }
    }

    &.hover {
        &:hover {
            .icon-svg {
                fill: var(--strongwood-black);
            }
        }
    }
}