.container-contact-details {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    min-width: 100vw;
    color: var(--strongwood-white);
    padding: 0 2rem;
    padding-bottom: 10rem;

    @media (max-width:768px) {
        padding: 0;
        padding-bottom: 8rem;
        justify-content: center;
    }

    .wrapper-contact-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 3.5rem;
        width: 100%;

        @media (max-width:768px) {
            width: var(--strongwood-max-width);
            max-width: var(--strongwood-max-width);
        }

        .header-title {
            font-size: 32px;

            @media (max-width:768px) {
                font-size: 28px;
            }

            @media (max-width:350px) {
                font-size: 26px;
            }
        }

        .link-item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            &.isDesktop {
                display: flex;

                @media (max-width:442px) {
                    display: none;
                }
            }

            &.isMobile {
                display: none;

                @media (max-width:442px) {
                    display: flex;
                }
            }

            .title {
                font-size: 18px;
                word-break: break-all;

                @media (max-width:768px) {
                    font-size: 16px;
                }

                @media (max-width:350px) {
                    font-size: 14px;
                }
            }

            .wrapper-address {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                height: 1.75rem;

                .address {
                    cursor: pointer;
                    font-size: 26px;
                    word-break: break-all;

                    @media (max-width:768px) {
                        font-size: 22px;
                    }

                    @media (max-width:350px) {
                        font-size: 20px;
                    }
                }

                &.margin {
                    margin-left: -0.5rem;
                }
            }

            &:hover {
                .wrapper-address .address {
                    text-decoration: underline;
                }
            }
        }
    }
}