.container-projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.75rem;
    row-gap: 3.75rem;
    width: 100vw;
    padding: 0 2rem;
    padding-bottom: 5rem;

    @media (max-width:768px) {
        padding: 0;
        min-width: var(--strongwood-max-width);
        width: var(--strongwood-max-width);
    }

    @media (max-width:1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}