.container-section-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    max-height: 5rem;
    transition: color var(--strongwood-transition), background-color var(--strongwood-transition);
    color: var(--strongwood-white);
    border-bottom: 1px solid transparent;

    &.active {
        transition: color var(--strongwood-transition), background-color var(--strongwood-transition);
        background-color: var(--strongwood-white);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

        .logo {
            color: var(--strongwood-black);
        }

        .container-nav-title {
            color: var(--strongwood-black);
        }
    }

    &.active-menu {
        background-color: var(--strongwood-white);
        border-bottom: 1px solid var(--strongwood-border);
        transition: color var(--strongwood-transition), background-color var(--strongwood-transition);
        color: var(--strongwood-black);
    }

    @media (max-width:768px) {
        padding: 0;
        height: 4rem;
        max-height: 4rem;
    }

    .wrapper-navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        @media (max-width:768px) {
            width: var(--strongwood-max-width);
        }

        .logo {
            font-size: 32px;

            @media (max-width:992px) {
                font-size: 26px;
            }
        }

        .container-nav-title {
            display: flex;
            gap: 1rem;

            .nav-title {
                font-size: 20px;

                &:hover {
                    text-decoration: underline;
                    color: var(--strongwood-black);
                }

                &.active {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }

            @media (max-width:992px) {
                display: none;
            }
        }

        .container-burgermenu {
            display: none;

            @media (max-width:992px) {
                display: flex;
            }

            justify-content: center;
            align-items: center;
            padding: 0.25rem;
            cursor: pointer;
            margin-right: -0.5rem;
            border-radius: 50%;
            height: 2.25rem;
            width: 2.25rem;

            .icon-svg {
                fill: var(--strongwood-white);
                transition: fill var(--strongwood-transition);

                &.active {
                    fill: var(--strongwood-black);
                    transition: fill var(--strongwood-transition);
                }

                &.active-menu {
                    fill: var(--strongwood-black);
                    transition: fill var(--strongwood-transition);
                }
            }

            &:hover {
                background-color: var(--strongwood-hover);
            }
        }
    }

    &.hover {
        &:hover {
            .logo {
                color: var(--strongwood-black);
            }

            .container-nav-title {
                color: var(--strongwood-gray);
            }

            .active {
                color: var(--strongwood-black);
            }

            transition: color var(--strongwood-transition),
            background-color var(--strongwood-transition);
            background-color: var(--strongwood-white);

            .container-burgermenu .icon-svg {
                fill: var(--strongwood-black);
            }
        }
    }
}