.container-section-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 18rem;
    max-height: 18rem;

    @media (max-width:768px) {
        height: 34rem;
        max-height: 34rem;
    }

    .wrapper-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--strongwood-black);
        border-top: 1px solid var(--strongwood-border);

        @media (max-width:768px) {
            width: var(--strongwood-max-width);
            max-width: var(--strongwood-max-width);
        }

        .primary-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 2rem;

            @media (max-width:768px) {
                padding: 2rem 0;
                width: var(--strongwood-max-width);
                max-width: var(--strongwood-max-width);
                gap: 4rem;
            }

            .logo-title {
                font-size: 32px;
                text-align: center;

                @media (max-width:992px) {
                    font-size: 26px;
                }
            }

            .info-divider {
                width: 100%;
                // height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @media (max-width:768px) {
                    flex-direction: column;
                    align-items: flex-start;
                    // justify-content: flex-end;
                }

                .left {
                    height: 5.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media (max-width:768px) {
                    }

                    .title-contact {
                        font-size: 20px;
                    }

                    .container-networks-icon {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 0.75rem;
                        margin-left: -0.5rem;
                    }
                }
            }
        }

        .secondary-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            border-top: 1px solid var(--strongwood-border);
            padding: 1rem 2rem;
            font-size: 16px;

            @media (max-width:768px) {
                padding: 1rem 0;
                width: var(--strongwood-max-width);
            }
        }
    }
}