.container-outer-image {
    position: relative;
    top: 0;
    left: 0;
    width: var(--strongwood-max-width);
    height: 30rem;
    user-select: none;
    overflow: hidden;
    background: var(--strongwood-bg-overlay);
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        pointer-events: none;
    }

    @media (max-width:1400px) {
        height: 25rem;
    }

    @media (max-width:1200px) {
        height: 22.5rem;
    }

    @media (max-width:992px) {
        height: 20rem;
    }

    @media (max-width:768px) {
        height: 60vh;
    }

    .container-inner-image {
        object-fit: cover;
    }
}